{% extends "base.html" %}

{% block page_content %}
<div style="height: 140px;">
    <div>
        <div class="col-md-4" style="background: url(../static/xk1.png) no-repeat 0 0;width: 120px;height: 120px;">
            <img src="{{ xc.fmpath }}" style="width: 100px;height: 100px;padding:15px 25px 10px 0px;">
        </div>
        <div class="col-md-6">
            <p style="font-size: 50px;color: deepskyblue;margin-top: 40px;">{{ xc.xcname }}</p>
        </div>
        <div class="col-md-offset-10">
            {% if current_user.is_authenticated %}
            <button type="button" class="btn btn-lg btn-info" style="margin-top: 55px;">
                <span class="glyphicon glyphicon-circle-arrow-up"></span>
                <a href="{{ url_for('.upload',xcname=xc.xcname) }}"style="text-decoration: none">上传新图片</a>
            </button>
            {% endif %}
        </div>
    </div>
</div>
<div class="col-md-12">
    <ul id="lxf-box" style="position: relative;top: 10px;">
        {% for tp in tp %}
        <li class="li" style="position: absolute;list-style: none;">
            {% include '_tupian.html' %}
        </li>
        {% endfor %}
    </ul>
</div>
<script type="text/javascript">
    $(function(){
        var t;
        $(".a").mouseenter(function(){
            var ac = $(this);
            t = setTimeout(function(){ ac.find(".b").show(200);},200);
        }).mouseleave(function(){
            clearTimeout(t);
        });
        $(".a").mouseleave(function(){
            $(this).find(".b").hide(200);
        });
        $('.bianji').click(function(){
            var $zhu = $(this).parent();
            var $shu = $zhu.parent();
            $shu.find(".modal-header .tpname").hide();
            $shu.find(".modal-header .tpwenben").show();
            $shu.find(".modal-body .xinxi").hide();
            $shu.find(".modal-body .wenben").show();
            $(this).hide();
            $zhu.find(".queren").show();
            $zhu.find(".shanchu").hide();
        });
        $('.queren').click(function(){
            var $zhu = $(this).parent();
            var $shu = $zhu.parent();
            $.ajax({
                url:'/edit_tp',
                data:JSON.stringify({
                  'id': $(this).parents('.modal.fade').attr('id'),
                  'body': $shu.find(".modal-body .wenben").val(),
                  'tpname': $shu.find(".modal-header .tpwenben").val(),
                }),
                type:'POST',
                dataType:'json'
            }).done(function(data) {
                $shu.find(".modal-body .xinxi").text(data.body);
                $shu.find(".modal-header .tpname").text(data.tpname);
                $shu.find(".modal-header .tpname").show();
                $shu.find(".modal-header .tpwenben").hide();
                $shu.find(".modal-body .xinxi").show();
                $shu.find(".modal-body .wenben").hide();
                $zhu.find(".queren").hide();
                $zhu.find(".bianji").show();
                $zhu.find(".shanchu").show();
                var $ahu = $shu.parent().parent().parent();
                $ahu.find(".btn-toolbar .tpname").text(data.tpname);
                $ahu.find(".zxinxi").text(data.body);
            });

        });
        $('.modal').on('hide.bs.modal', function() {
            var $zhu = $(this).parent();
            var $shu = $zhu.parent();
            $shu.find(".modal-header .tpname").show();
            $shu.find(".modal-header .tpwenben").hide();
            $shu.find(".modal-body .xinxi").show();
            $shu.find(".modal-body .wenben").hide();
            $zhu.find(".queren").hide();
            $zhu.find(".bianji").show();
            $zhu.find(".shanchu").show();
        });
        $('.fm').click(function(){
            var $q = $(this).parent().parent().parent().parent()
            $.ajax({
                url:'/edit_fm',
                data:JSON.stringify({
                  'id': $q.find('.modal').attr('id'),
                }),
                type:'POST',
                dataType:'json'
            }).done(function(data){
                 if (data.r){
                     alert('已更换封面');
                     window.location.reload();
                 }
            });
        });
        $('.shanchu').click(function(){
            var $b = $(this).parent().parent().parent().parent().parent().parent();
            $b.hide(200);
        });
    });

    var margin = 41;//这里设置间距
    var li=$(".li");//这里是区块名称
    var	li_W = 277;//取区块的实际宽度（包含间距，这里使用源生的offsetWidth函数，不适用jQuery的width()函数是因为它不能取得实际宽度，例如元素内有pandding就不行了）
    function liuxiaofan(){//定义成函数便于调用
	    var h=[];//记录区块高度的数组
	    var n = document.documentElement.offsetWidth/li_W|0;//窗口的宽度除以区块宽度就是一行能放几个区块
	    for(var i = 0;i < li.length;i++) {//有多少个li就循环多少次
		    li_H = li[i].offsetHeight;//获取每个li的高度
            hang = Math.floor(i/n);
		    if(i < n) {//n是一行最多的li，所以小于n就是第一行了
			    h[i]=li_H;//把每个li放到数组里面
			    li.eq(i).css("top",0);//第一行的Li的top值为0
			    li.eq(i).css("left",i * li_W);//第i个li的左坐标就是i*li的宽度
			    }
		    else{
			    li.eq(i).css("top",h[i-n*hang]+margin);//先得到高度最小的Li，然后把接下来的li放到它的下面
			    li.eq(i).css("left",(i-n*hang) * li_W);	//第i个li的左坐标就是i*li的宽度
                h[i-n*hang] += li_H+margin ;//加上新高度后更新高度值
		    }
		    //把区块的序号和它的高度值写入对应的区块H3标题里面
	    }
    }
    /* 使用for in运算返回数组中某一值的对应项数(比如算出最小的高度值是数组里面的第几个) */
    function getarraykey(s, v) {for(k in s) {if(s[k] == v) {return k;}}}
    /*这里一定要用onload，因为图片不加载完就不知道高度值*/
    window.onload = function() {liuxiaofan();};
    /*浏览器窗口改变时也运行函数*/
    window.onresize = function() {liuxiaofan();};
</script>
{% endblock %}

