<div class="xc-tp">
    <div class="xc-p thumbnail">
        {% if tp.fm == True %}
        <div class="xc-fm" title="编辑"></div>
        {% endif %}
        <a href="#" data-toggle="modal" data-target="#{{ tp.id }}"><img src="{{ tp.lspath }}"></a>
        <div>
            <div class="xc-inf">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger btn-sm tp-btn">
                            <span class="glyphicon glyphicon-heart"></span>
                        </button>
                    </div>
                    <div class="btn-group">
                        <p class="text-info tpname">
                            {{ tp.tpname }}
                        </p>
                    </div>
                    {% if current_user.is_authenticated and current_user == xc.user %}
                    <div class="btn-group">
                        {% if tp.fm == False %}
                        <button type="button" class="btn btn-success btn-sm fm" title="设为封面">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                <p class="text-info zxinxi">{{ tp.about_tp }}</p>
            </div>
            <div class="modal fade tp-modal" id="{{ tp.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 data-backdrop="static" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close guanbi" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            <h3 class="modal-title tpname">{{ tp.tpname }}</h3>
                            <input class="form-control tpwenben" value="{{ tp.tpname }}">
                        </div>
                        <div class="modal-body" style="clear: both">
                            <div class="col-md-9">
                                <a href="{{ url_for('.tupian',id=tp.id) }}" target="_blank">
                                    <img src="{{ tp.lspath }}" class="img-responsive center-block" title="查看原图">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <p class="xinxi text-info">{{ tp.about_tp }}</p>
                                <textarea class="form-control wenben" rows="10">{{ tp.about_tp }}</textarea>
                            </div>
                        </div>
                        <div class="modal-footer" style="clear: both">
                            {% if current_user.is_authenticated and current_user == xc.user %}
                            <button type="button" class="btn btn-danger btn-sm shanchutp">删除</button>
                            <button type="button" class="btn btn-primary btn-sm bianji">编辑</button>
                            <button type="button" class="btn btn-primary queren" style="display: none">确认</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>