{% extends "base.html" %}

{% block page_content %}
<div class="row">
    <div class="col-md-offset-3">
        <div id="myCarousel" class="carousel slide">
	        <div class="carousel-inner" align="center">
                <div class="item active">
			        <img src="{{ tplist[0] }}">
		        </div>
                {% for tppath in tplist[1:] %}
		        <div class="item">
			        <img src="{{ tppath }}">
		        </div>
                {% endfor %}
	        </div>
	        <a class="carousel-control left" href="#myCarousel"
	            data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
	        <a class="carousel-control right" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
<div class="nav nav-pills nav-stacked">
    <div type="button" class="btn btn-lg btn-info index-btn">相册</div>
</div>
<div class="index-content">
    {% for xc in xclist %}
    <div>
        <div class="col-md-3 index-list">
            {% if current_user.is_authenticated and current_user == xc.user %}
            <a class="index-edit" href="#"  data-toggle="modal" data-target="#{{ xc.id }}" title="编辑"></a>
            {% endif %}
            <a href="{{ url_for('.readxc',xcname=xc.xcname) }}">
                <img src="{{ xc.fmpath }}" alt="错误">
            </a>
            <div class="index-shadow">
                <h3 class="xcname">
                    {{ xc.xcname }}
                </h3>
                <p class="aboutxc" title="{{ xc.about_xc }}">
                    {{ xc.about_xc }}
                </p>
                <p>由 {{ xc.user.username }} 创建</p>
            </div>
        </div>
        <div class="modal fade" id="{{ xc.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            编辑相册
                        </h4>
                    </div>
                    <div class="modal-body">
                        <label>相册名</label>
                        <input type="text" class="form-control xcname" value="{{ xc.xcname }}">
                        <label>描述</label>
                        <textarea class="form-control edit-aboutxc">{{ xc.about_xc }}</textarea>
                        <label>是否可见</label>
                        <div>
                            <label class="checkbox-inline">
		                        <input type="radio" name="optionsRadiosinline" id="shi" checked> 是
	                        </label>
	                        <label class="checkbox-inline">
		                        <input type="radio" name="optionsRadiosinline" id="fou"> 否
	                        </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm shanchu">删除</button>
                        <button class="btn btn-info btn-sm queren" id="submit" name="submit" type="submit">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script type="text/javascript">
    $(function(){
	    var t;
        $(".index-list").mouseenter(function(){
            var ac = $(this);
            t = setTimeout(function(){
                ac.find(".index-shadow").slideDown(300);
                ac.find(".index-edit").css("background-position","-133px -174px");
            },300);
        }).mouseleave(function(){
            clearTimeout(t);
        });
        $(".index-list").mouseleave(function(){
            $(this).find(".index-shadow").slideUp(300);
            $(this).find(".index-edit").css("background-position","-200px -250px");
        });
        $(".queren").click(function(){
            var $xcname = $(this).parent().parent().find(".xcname").val();
            var $aboutxc= $(this).parent().parent().find(".edit-aboutxc").val();
            var $s = $(this).parent().parent().parent().parent();
            $.ajax({
                url:'/edit_xc',
                data:JSON.stringify({
                  'id': $s.attr('id'),
                  'xcname': $xcname,
                  'aboutxc': $aboutxc,
                }),
                type:'POST',
                dataType:'json'
            }).done(function(data){
                var $x = $s.parent();
                $x.find("h3.xcname").text(data.xcname);
                $x.find("p.aboutxc").text(data.aboutxc);
                $('.modal').modal('hide');
            });
        });
        $('.shanchu').click(function(){
            var $b = $(this).parent().parent().parent().parent();
            swal({
                title:"删除相册",
                text:"删除相册",
                type:"warning",
                showCancelButton:true,
                confirmButtonColor:"#DD6B55",
                confirmButtonText:"删除",
                cancelButtonText:"取消",
                closeOnConfirm:false,
            },
            function(){
                $.ajax({
                    type:'POST',
                    url:'/delete_xc',
                    data:JSON.stringify({
                        'id': $b.attr('id'),
                    }),
                    dataType:'json',
                    success: function(data,status){
                        if(status == 'success'){
                            swal("删除相册","已删除相册！","success");
                            $('.modal').modal('hide');
                            $b.parent().parent().hide(200);
                        }
                    },
                });
            });
        });
    });
</script>
{% endblock %}