{% extends "nmbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header" style="color: deepskyblue;margin-top: -20px;">
    <h1>管理相册</h1>
</div>
<table class="table" style="color: white">
    <thead>
    <tr>
        <th>相册名</th>
        <th>图片数</th>
        <th>描述</th>
        <th>创建时间</th>
        <th>最后修改时间</th>
    </tr>
    </thead>
    <tbody>
    {% for xc in xc %}
    <tr id="{{ xc.id }}">
        <td><a class="xc" href="{{ url_for('.readxc',xcname=xc.xcname) }}">{{ xc.xcname }}</a></td>
        <td>{{ xc.tpshu }}</td>
        <td>{{ xc.about_xc }}</td>
        <td>{{ xc.member_since }}</td>
        <td>{{ xc.last_seen }}</td>
        <td>
            <button type="button" class="shanchu btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-remove"></span> 删除</a>
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
-<style type="text/css">
    a.xc {
        color: white;
    }
    a.xc:hover {
        text-decoration: none;
        color: deepskyblue;
    }
</style>
<script type="text/javascript">
    $(function(){
        $('.shanchu').click(function(){
            var $q = $(this).parent().parent();
            swal({
                title:"删除相册",
                text:"删除相册",
                type:"warning",
                showCancelButton:true,
                confirmButtonColor:"#DD6B55",
                confirmButtonText:"删除",
                cancelButtonText:"取消",
                closeOnConfirm:false,
            },
            function(){
                $.ajax({
                    type:'POST',
                    url:'/delete_xc',
                    data:JSON.stringify({
                        'id': $q.attr('id'),
                    }),
                    dataType:'json',
                    success: function(data,status){
                        if(status == 'success'){
                            swal("OK");
                            $q.hide(200);
                        }
                    },
                });
            });
        });
    });
</script>
{% endblock %}