{% extends "nmbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header creatxc">
    <h1>管理相册</h1>
</div>
<table class="table" style="color: white">
    <thead>
    <tr>
        <th>相册名</th>
        <th>图片数</th>
        <th>描述</th>
        <th>创建时间</th>
        <th>最后修改时间</th>
    </tr>
    </thead>
    <tbody>
    {% for xc in xc %}
    <tr id="{{ xc.id }}">
        <td><a class="manage-xc" href="{{ url_for('.readxc',xcname=xc.xcname) }}">{{ xc.xcname }}</a></td>
        <td>{{ xc.tpshu }}</td>
        <td>{{ xc.about_xc }}</td>
        <td>{{ xc.member_since }}</td>
        <td>{{ xc.last_seen }}</td>
        <td>
            <button type="button" class="shanchuxc btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-remove"></span> 删除</a>
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}