{% extends "base.html" %}

{% block page_content %}
<div class="xc-content">
    <div>
        <div class="col-md-4 xc-img">
            <img src="{{ xc.fmpath }}">
        </div>
        <div class="col-md-6 xc-name">
            <p>{{ xc.xcname }}</p>
        </div>
        <div class="col-md-offset-9">
            {% if current_user.is_authenticated and current_user == xc.user %}
            <button type="button" class="btn btn-lg btn-info xc-btn">
                <span class="glyphicon glyphicon-circle-arrow-up"></span>
                <a href="{{ url_for('.upload',xcname=xc.xcname) }}">上传新图片</a>
            </button>
            {% endif %}
        </div>
    </div>
</div>
<div style="clear: both">
    <div class="col-sm-6 col-md-3">
        {% for tp in tp[0::4] %}
            {% include '_tupian.html' %}
        {% endfor %}
    </div>
    <div class="col-sm-6 col-md-3">
        {% for tp in tp[1::4] %}
            {% include '_tupian.html' %}
        {% endfor %}
    </div>
    <div class="col-sm-6 col-md-3">
        {% for tp in tp[2::4] %}
            {% include '_tupian.html' %}
        {% endfor %}
    </div>
    <div class="col-sm-6 col-md-3">
        {% for tp in tp[3::4] %}
            {% include '_tupian.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
